*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(104, 100, 100);
}
.body-container{
    border: 5px solid red;
    
}
.Main-container{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    width: 800px;
    height: 100%;
    height: 870px;

    
}
.container{
   position: relative;
    background-color: white;
}

.Nav {
    background-color: blue;
    color: white;
    padding: 15px;

}
.fa-bars{
    padding-right: 20px;
}
.My-inventory{
    background-color: rgb(44, 44, 121);
    color: white;
    padding: 10px;
    height: 200px;
}
.position{
    width: 500px;
    display: flex;
    position: absolute;
    top: 220px;
}
.content-container{
display: flex;
align-content: center;
justify-content: center;
border: 3px solid white;
height: 555px;
background-color: white;

}
.content-container2{


}

.fa-file-pen{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 20px;
}
.fa-address-book{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 8px;  
}
.fa-rectangle-list{
   font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 8px;
    
}
.fa-file-signature{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 20px;   
}
.fa-file-excel{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 5px;     
}
.fa-pen-to-square{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 10px; 
   
    
}
.fa-address-card{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 0px;         
}
.fa-clipboard-list{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 5px;     
}
.fa-circle-info{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 5px;  
}
.fa-circle-question{
    font-size: 40px;
    color: blue;
    padding: 20px 0px 4px 5px;    
}
.content{
    box-shadow: 0 0 4px;
    width: 200px;
    height: 110px;
    margin: 15px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    
}
.content2 {
    box-shadow: 0 0 4px;
    width: 200px;
    height: 100px;
    margin: 15px; 
    border-radius: 5px;
    background-color: white;
}


/*styleing addpage*/
.add-container{
    background-color: white;
    height: 520px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    width: 800px;
    height: 100%;
    height: 870px;

}
.fa-house {
    font-size: 25px;
 margin-left: 10px;
 margin-bottom: 5px;
 color: black;
 background-color: blue;
}
.fa-house>h1 {
    padding-left: 100px;
    color: black;
}
.add-customer{
    background-color: blue;
    padding: 20px;
    color: white;
 
    
}



.input-details{
    margin-left: 45px;
    margin-top: 150px;
}
.add-input> input { height: 60px;
    width: 700px;
    border: none;
    border-bottom: 2px solid blue;
    outline-color: rgb(196, 189, 189);
    font-size: 20px;
}
.input-details{
    display: flex;
    flex-direction: column;
}

.add-input{
    margin: 10px;
}
.submit-btn>input {
margin-top: 20px;
margin-left: 10px;
padding: 15px;
border-radius: 4px;
border: none;
font-size: 20px;
}
.submit-btn>input:hover{ background-color: green;

}
/*PRODUCT STYLING*/
.product-container{
    background-color: white;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    width: 800px;
    height: 100%;
    height: 870px; 
}
.product-header{
    background-color: blue;
    padding: 20px;
    
    color: white;  
}
section>h3{
    margin: 20px 0px 0px 200px;
}
.product-content{
    margin:50px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
}
.input>input{
    height: 50px;
    width: 500px;
    margin:10px 20px 10px 0px;
    outline-color: rgb(196, 189, 189);
    
}
.product{
    margin-top: 120px;
    
    height: 50px;
    margin: 10px;
    text-align: center;
    align-items: center;
    padding-top: 4px;
}

.info-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: ;
}